<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="LOG_FILE" value="user.log"/>
	<logger name="com.yunqi" level="DEBUG" />
<!-- 	<encoder class="cre.encoder.LayoutWrappingEncoder">
		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} : %p [%c] [%t] %m%n</pattern>
		<charset>UTF-8</charset>
	</encoder> -->
</configuration>