/.idea
/apis/api-org/target
/apis/api-user/target
/cloud/cloud-cluster/target
/cloud/cloud-config/target
/cloud/cloud-discovery/target
/commons/commons-common/target
/commons/commons-core/target
/modules/module-manager/target
/micros/micros-user/target
/micros/micros-base/target
/micros/micros-org/target
/apis/api-org/*.iml
/apis/api-user/*.iml
/apis/*.iml
/cloud/cloud-cluster/*.iml
/cloud/cloud-config/*.iml
/cloud/cloud-discovery/*.iml
/cloud/*.iml
/commons/commons-common/*.iml
/commons/commons-core/*.iml
/commons/*.iml
/micros/micros-base/*.iml
/micros/micros-org/*.iml
/micros/micros-user/*.iml
/micros/*.iml
/modules/module-manager/*.iml
/modules/*.iml
/*.iml
