<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">

<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="LOG_FILE" value="yunqi.log"/>
	<property name="LOG_FILE" value="${catalina.base}/logs/yunqi.log}"/>
	<logger name="com.yunqi" level="DEBUG" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>